<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" media="screen" href = "/static/css/bootstrap.min.css">
  <link rel="stylesheet" media="screen" href = "/static/js/bootstrap.js">
  <meta name="viewport" content = "width=device-width, initial-scale=1.0">
  <title>
  CropKeeper
  </title>
</head>

	<body>
		<h3>WELCOME TO THE CROP KEEPER</h3>


		<table class="table">
			<tr>
				<td>
					<button type="button" name="button"><a href="/showfields/">Fields</a></button>
				</td>
				<td>
					<button type="button" name="button"><a href="/makefield/">Create a New Field</a></button>
				</td>
			</tr>
		</table>


	</body>
</html>
