<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" media="screen" href = "/static/css/bootstrap.min.css">
  <link rel="stylesheet" media="screen" href = "/static/js/bootstrap.js">
  <meta name="viewport" content = "width=device-width, initial-scale=1.0">
  <title>
  CropKeeper
  </title>
</head>

	<body>

    <h3>Create a New Field</h3>


  <form method="POST">
    <div class="form-group">
      <label for="exampleInputEmail1">Feild Name</label>
      <input type="text" class="form-control" id="feildname" placeholder="Name" name="feildname">
    </div>
    <div class="form-group">
      <label>Feild Location</label>
      <input type="text" class="form-control" id="feildlocation" placeholder="Location" name="location">
    </div>
    <!-- <div class="form-group">
      <label for="exampleInputFile">File input</label>
      <input type="file" id="exampleInputFile">
      <p class="help-block">Example block-level help text here.</p>
    </div> -->
    <div class="checkbox">
      <label>
        <!-- <input type="checkbox"> Check me out -->
      </label>
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
  </form>

	</body>
</html>
